@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Poppins:wght@300;400;500;600;700&family=Roboto:wght@400;500;700&display=swap');
@tailwind base;
@tailwind utilities;
@tailwind components;


body {
  margin: 0;
  padding:0;
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  background-color: #eeeeee;
  

}




.wrapper{
 @apply flex flex-col justify-between h-screen max-w-5xl text-left m-[0_auto] ;
}


.bg-gradient-mdb {
  background-image: linear-gradient(145deg,var(--tw-gradient-from),var(--tw-gradient-stops));
}




  /* .card{
    @apply font-[.876rem] relative flex flex-col bg-white rounded border border-gray-400 shadow-md;
  }
.card .header{
  @apply  bg-gradient-mdb rounded-t h-[60px] leading-[60px] text-white pl-4 shadow-lg; 
}

.card-mdb{
  @apply mt-8
}

.card.card-mdb .header{
@apply bg-gradient-mdb absolute pl-2 w-[calc(100%_-_1rem)] leading-[60px] border border-[hsla(0,0%,100%,.25)] h-[60px] rounded text-white top-[-20px] left-[.5rem]
}


.card-mdb .body{
  @apply pt-8
}

.card .body{ 
  @apply m-2;
}

 */



.form-control {
@apply w-full text-sm font-normal border border-pink-500 rounded text-black leading-4 outline-none box-border transition-all duration-75 bg-clip-padding appearance-none bg-gray-200 placeholder:text-gray-500;
}


.form-control:focus,
.form-select:focus
{
  @apply outline-none;
  box-shadow: 0 0 8px 0 #e91e63;
}


